/* COMMON */
body {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
}
img {
    display: block;
}
a {
    text-decoration: none;
}

/* header */
header{
 background-color:  #f6f6f6;
 border-bottom: 1px solid #c8c8c8;
}
header .inner{
    position: relative;
    width: 1100px;
    height: 120px;
    margin: 0 auto;
    /* background-color: orange; */
    /* border: 1px solid gray; */
}
header .logo{
   position: absolute;
    height: 75px;
    top: 0;
    bottom: 0;
    margin: auto;
    /* display:none;/ */
}
header .sub-menu {
    position: absolute;
display: flex;
top: 10px;
right: 0;

}
header .sub-menu ul.menu{
 display: flex;
 font-family: Arial, Helvetica, sans-serif;
}
header .sub-menu ul.menu li {
position: relative;
}
header .sub-menu ul.menu li::before{
    content: "";
    /* before 는 기존 인라인요소 */
    display: block;
    width: 1px;
    height: 12px;
    background-color:#e5e5e5;
    position: absolute;
    /*   position: absolute /fixed 를 입력하면 자동으로 
    display 값이 block으로 변환된다.*/
    top:0;
    bottom: 0;
    margin: auto;
}
header .sub-menu ul.menu li:first-child::before{
display: none;
}
header .sub-menu ul.menu li a {
    display: block;
    /* background-color: wheat; */
    font-size: 12px;
    padding: 11px 16px;
    color: #656565;

}
header .sub-menu ul.menu li a:hover{
    color:#000;
}
header .sub-menu  .search {
    position: relative;
    /* background-color: red; */
    height: 34px;

}
header .sub-menu  .search input {
    position: relative;
    box-sizing: border-box;
    width: 34px;
    height:  34px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    /* input 값 배경색은 브라우저마다 다를 수 있어 명시하는 것이 좋음 */
    outline: none;
    color: #777;
    font-size: 12px;
    transition: width .4s ;   
}
header .sub-menu  .search input:focus{
    width: 198px;
    border-color: #669900;
}
header .sub-menu  .search .material-symbols-outlined {
    height: 24px;
    position: absolute;
    top:0;
    bottom: 0;
    right: 5px;
    margin: auto;
    transition: .4s;
}

header .sub-menu  .search.focused .material-symbols-outlined{
    opacity: 0;
}